{% extends 'flatpages/default.html' %}
<!--{% load custom_filters %}-->

{% block title %}Список новостей{% endblock %}

{% block content %}
<h1>Список новостей</h1>
<h3>Количество: {{ postlist | length }}</h3>
{% if postlist %}
    {% for post in postlist %}
        <div>
            <h6>Дата публикации: {{ post.time_in | date:'d M Y' }}</h6>
            <h5>{{ post.title | censor }}</h5>
            <str>{{ post.text | truncatewords:20 | censor }}</str>
        </div>
        <hr>
    {% endfor %}
{% endif %}
{% endblock %}




