{% extends 'flatpages/default.html' %}
{% block title %}Отдельная статья{% endblock %}
{% block content %}
<h1>Отдельно</h1>
{{ postdetail }}
{% endblock %}





<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Post List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Отдельная новость или статья.</h1>-->
<!--{{ postdetail }}-->
<!--</body>-->
<!--</html>-->

