{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}Список новостей{% endblock %}

{% block content %}
<h1>Все посты:</h1>
<!--<h2> Это юзер - {{ request.user }}</h2>-->
<hr>
<h3>Категории: </h3>
<ul>
    {% for category in categories %}
    <li><a href="{{ category.name | lower }}">{{ category.name }}</a> ->
        {% if request.user not in category.subscribers.all %}
            <a href="subscribe_category/{{ category.name }}">Подписаться на категорию</a></li>
        {% endif %}
    {% endfor %}
</ul>
<hr>
<!--<h3>Количество: {{ postlist | length }}</h3>-->
{% if postlist %}
    {% for post in postlist %}
        <div>
            <h6>Дата публикации: {{ post.time_in | date:'d M Y' }}</h6>
            <h5><a href="{{ post.id }}">{{ post.title | censor }}</a> ></h5>
            <h5>Категория:
                {% for category in post.categoryes.all %}
                    {{ category.name }}
                {% empty %}
                    <p>Нет постов в этой категории.</p>
                {% endfor %}
            </h5>
            <span>{{ post.text | truncatewords:20 | censor }}</span>
        </div>
        <hr>
    {% endfor %}
{% endif %}

{% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>

  {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
{% endif %}

{% endblock %}




