{% extends 'flatpages/default.html' %}
<!--{% load custom_filters %}-->
{% block title %}Отдельная статья{% endblock %}
{% block content %}
<div>
    <h6>Дата публикации: {{ postdetail.time_in | date:'d M Y' }}</h6>
    <h5>{{ postdetail.title | censor }}</h5>
    <str>{{ postdetail.text | censor}}</str>
</div>
<hr>
{% endblock %}





<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Post List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Отдельная новость или статья.</h1>-->
<!--{{ postdetail }}-->
<!--</body>-->
<!--</html>-->

